:root{
    --main-bg-color: #d7bd8d;
    --main-text-color: #151515;
    --accent-color: #731414;
    --contrast-color: #FAFFC3;
  }

.description-blurb {
    position: absolute;
    z-index: 1;
    top: 5em;
    padding: 1em;
    margin: 1em;
    max-width: 60vw;
    background-color: #F9F9F9;
    box-shadow: 4px 8px 4px rgba(0, 0, 0, 0.25);
    border-radius: 1.5em;
}

.map-display{
    /* background-color: gray; */
    height: 70vh;
    width: 100vw;
    /* padding: 1em; */
}

@media screen and (min-width: 800px){
    .description-blurb{
        max-width: 30vw;
        top: 10em;
        padding: 2em;
    }
}