:root{
    --main-bg-color: #d7bd8d;
    --main-text-color: #151515;
    --accent-color: #731414;
    --contrast-color: #FAFFC3;
}

body{
    overflow: scroll;
}

.menu-page, .menu-grouping{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu-page-offer{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em;
    /* margin-top: 1em; */
    border: 3px dashed var(--accent-color);
    border-radius: 1em;
    background-color: var(--contrast-color);
}

.menu-grouping{
    max-width: 80vw;
}

.menu-grouping-start{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu-icon{
    margin-top: 1em;
    /* margin-bottom: -1em; */
    font-size: xx-large;
}

.menu-grouping-headline{
    text-align: center;
    width: 35vw;
    border-bottom: 3px solid var(--main-text-color);
}

h1, h2, h3, p{
    color: var(--main-text-color);
}

h1, h2, h3{
    font-family: 'League Gothic';
}

.menu-icon{
    color: var(--main-text-color);
}

.highlight{
    color: var(--accent-color);
}