:root{
    --main-bg-color: #d7bd8d;
    --main-text-color: #151515;
    --accent-color: #731414;
    --contrast-color: #FAFFC3;
}

body{
    overflow: scroll;
}

.menu-page, .menu-grouping{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu-page-offer{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em;
    /* margin-top: 1em; */
    border: 3px dashed var(--accent-color);
    border-radius: 1em;
    background-color: var(--contrast-color);
}

.menu-page-offer > p{
    font-size: large;
}

.menu-page-offer > *{
    margin-top: 0.2em;
}

.menu-grouping{
    max-width: 80vw;
}

[class ^="menu-grouping-start"]{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    /* justify-content: center; */
}

.menu-item > p{
    font-size: large;
}

.menu-icon{
    margin-top: 1em;
    /* margin-bottom: -1em; */
    font-size: xx-large;
}

.menu-grouping-headline{
    text-align: center;
    min-width: 20vw;
    max-width: 35vw;
    border-bottom: 3px solid var(--main-text-color);
}

h1, h2, h3, p{
    color: var(--main-text-color);
}

h1, h2, h3{
    font-family: 'League Gothic';
}

.menu-icon{
    color: var(--main-text-color);
}

.highlight{
    color: var(--accent-color);
}

.menu-page{
    margin-bottom: 1em;
}

.green{
    color: rgb(23, 71, 23);
}

.price-tag{
    font-size: large;
}

/* .offer-container{
    display: flex;
    align-items: center;
    gap: 0.5em;
} */

@media screen and (min-width: 800px){
    .menu-page-offer{
        padding: 3em;
    }

    .menu-grouping{
        display: flex;
        flex-direction: row;
        align-items: start;
        justify-content: space-around;
        /* max-width: 90vw; */
        /* display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: minmax(100px, 1fr) */
        /* grid-auto-rows: 1fr; */
    }

    .menu-item{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        /* justify-content: center; */
    }

    .menu-pizzas, .menu-dips{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        min-width: 40vw;
    }
}